img#octopus {
<<<<<<< HEAD
	margin: 
=======
	position: relative;
>>>>>>> 39d135b3fcedb47f8f949f6e85925c60066a06aa
	left: 200px;
	top: 50px;
	z-index: -1;
}

img#hat {
	position:absolute;
	left: 185px;
	top: 15px;
}

img#glasses {
	position:absolute;
	left: 250px;
	top: 155px;
}

